[submodule "RAFT"]
	path = RAFT
	url = git@github.com:princeton-vl/RAFT.git
[submodule "AlphaRefine"]
	path = AlphaRefine
	url = git@github.com:MasterBin-IIAU/AlphaRefine.git
[submodule "OSTrack"]
	path = OSTrack
	url = git@github.com:botaoye/OSTrack.git
[submodule "S2DNet-Minimal"]
	path = S2DNet
	url = git@github.com:germain-hug/S2DNet-Minimal.git
